.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
    margin: 20px;
      column-gap: 10px;
  row-gap: 15px;
  justify-items: center;
}


img{
  width: 600px;
  height: 400px; 
}
