:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

* {
  margin: 0;
  padding: 50;
  box-sizing: border-box;
}


body {
  margin: 0;
   border: 16px solid white;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: cadetblue;
}


}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;     /* fill width */
  min-height: 100%;    /* fill height */
  width: auto;         /* don't stretch */
  height: auto;        /* don't stretch */
  transform: translate(-50%, -50%); /* center the video */
  object-fit: contain; /* scale without cropping */
  background: black;   /* fill empty space */
  z-index: -1;
}