.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

.navbar-links {
  display: flex;
  gap: 2rem;
  

}

  .navbar-brand {
    font-size: 1.2rem;
  }



a:hover {
  color: red;
}

a {
  font-weight: 500;
  color: beige;
  text-decoration: inherit;
}


}