.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

.navbar-links {
  display: flex;
  gap: 2rem;
  

}

  .navbar-brand {
    font-size: 1.2rem;
  }


}

